<template>
  <div>
    <div class="container">
      <div class="title">
      Selecciona
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        id="Capa_1"
        x="0px"
        y="0px"
        viewBox="0 0 511.996 511.996"
        style="enable-background:new 0 0 511.996 511.996;"
        xml:space="preserve"
      >
        <path
          d="M441.154,176.9L261.954,2.419c-3.311-3.226-8.593-3.226-11.904,0L70.85,176.9c-1.655,1.604-2.586,3.806-2.586,6.11    c0,2.304,0.939,4.506,2.586,6.11l48.666,47.386c3.319,3.243,8.61,3.234,11.921-0.017l81.894-80.299v347.273    c0,4.71,3.823,8.533,8.533,8.533h68.267c4.71,0,8.533-3.823,8.533-8.533V156.19l81.894,80.299c3.311,3.251,8.61,3.243,11.93,0.017    l48.666-47.386c1.647-1.604,2.577-3.806,2.577-6.11C443.731,180.706,442.801,178.505,441.154,176.9z"
        />
      </svg>
    </div>
    </div>
  </div>
</template>

<script>
export default {
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/colors.scss";

.title {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
}
.length {
  font-size: 0.6em;
  text-align: end;
  padding: 0 0.4em 0 0;
}
.item {
  font-weight: bold;
  margin: 2em 2em 0;
  padding: 0.5em 1em;
  animation: 0.05s both fade-in;
  color: $background-color;
  background-color: $tertiary-color;
}
@for $i from 1 through 7 {
  .item {
    &:nth-child(#{$i}) {
      animation-delay: $i * (0.1s);
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

svg {
  height: 50px;
  width: 50px;
  fill: $primary-color;
}
</style>