<template>
  <div>
    <div class="container" v-if="currentUser">
      <div class="title">
        {{ currentUser.name }}
        <button class="remove-user-btn" @click="removeUser()">Borrar User</button>
      </div>
      <div class="length">
        Cantidad: {{ items.length }}
        <button class="add-btn" @click="addItem()">Nuevo Item</button>
      </div>
      <div class="item" v-for="(item, index) in items" :key="index">
        {{ item.title }}
        <button @click="removeItem(item.id)">-</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: "List",
  /* watch: {
    async currentUser() {
      this.itemsUser = await this.getUserItems();
    },
  }, */
/*   data() {
    return {
      itemsUser: []
    }
  }, */
  computed: {
    ...mapGetters([
      'currentUser',
      'items'
    ]),
  },
/*   async created() {
    this.itemsUser = await this.getUserItems();
  }, */
  methods: {/* 
    async getUserItems() {
      const postResponse = await fetch(
        `https://jsonplaceholder.typicode.com/posts?userId=${this.currentUser.id}`
      );
      return postResponse.json();
    }, */
    addItem() {
      const namePrompt = prompt("Nombre:");
      const newName = {
        title: namePrompt,
        userId: this.currentUser.id,
        id: Math.floor(Math.random() * 1000),
      };
      if (namePrompt) {
        this.$store.commit("addItem", newName);
      }
    },
    removeItem(itemId) {
      this.$store.commit("removeItem", itemId);
    },
    removeUser() {
      this.$store.commit("removeUser", this.currentUser.id);
      this.$router.push({ name: "EmptyList" }).catch(() => {});
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/colors.scss";

.container {
  text-transform: capitalize;
}

button {
  background-color: $primary-color;
  border-style: none;
  font-size: 16px;
  cursor: pointer;
  padding: 1px 16px;
  margin: 0 0 0 22px;
  border-radius: 15px;

  &:focus {
    outline: none;
  }
  &:hover {
    background-color: transparent;
    color: red;
    border: 1px solid red;
    padding: 0 15px;
  }
}

.title {
  font-size: 44px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remove-user-btn {
  font-size: 12px;
  padding: 4px 10px;
  border: 1px solid $primary-color;
  margin-top: 12px;

  &:hover {
    padding: 4px 10px;
  }
}

.length {
  font-size: 0.6em;
  text-align: end;
}
.add-btn {
  font-size: 12px;
  margin: 15px 0px 15px 15px;
  padding: 4px 15px;
  transition: 0.25s;

  &:hover {
    background-color: $tertiary-color;
    color: black;
    border: none;
    padding: 4px 20px;
    transition: 0.25s;
  }
}
.item {
  font-size: 0.8em;
  font-weight: 400;
  padding: 0.5em 16px;
  animation: 0.05s both fade-in;
  color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &:hover {
    color: $tertiary-color;
    background-color: black;
    border-radius: 7.5px;
  }
}

@for $i from 1 through 1 {
  // Arreglar
  .item {
    &:nth-child(#{$i}) {
      animation-delay: $i * (0.1s);
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

svg {
  height: 50px;
  width: 50px;
  fill: $primary-color;
}
</style>