<template>
  <div id="app">
    <div class="container">
      <div class="header">
        <div class="user-buttons" v-for="user in users" :key="user.id" @click="goToList(user)">
          {{ user.name }}
        </div>
        <button class="add-btn" @click="add()">+</button>
      </div>
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  name: 'App',
  computed: { //mapgetter
    users() {
      return this.$store.getters.users;
    },
  },
  methods: {
    async getUserItems(id) {
      const postResponse = await fetch(
        `https://jsonplaceholder.typicode.com/posts?userId=${id}`
      );
      return postResponse.json();
    },
    async goToList(user) {
      const userExists = this.$store.getters.userItemExists(user.id);
      console.log('userExists', userExists);
      const userItems = await this.getUserItems(user.id);
      this.$store.commit("setItems", userItems);
      this.$store.commit("setCurrentUser", user);
      this.$router.push({ name: "List" }).catch(() => {});
    },
    add() {
      const namePrompt = prompt("Nombre:");
      const newUser = {
        name: namePrompt,
        id: Math.floor(Math.random() * 1000),
      };
      if (namePrompt) {
        this.$store.commit("addUser", newUser);
        this.$store.commit("setCurrentUser", newUser);
        this.$router.push({ name: "List" }).catch(() => {});
      }
    },
  },
};
</script>

<style lang="scss">
@import "./assets/scss/colors.scss";

body {
  background-color: $background-color;
  padding: 1em 3em 2em;
  margin: 0;

  .container {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    justify-content: center;
    color: $primary-color;

    .header {
      padding: 0 6em 2em;
      justify-self: center;
      display: flex;
      flex-flow: wrap;

      .add-btn {
        margin: 11px 11px 0;
        padding: 12px 25px;
        color: black;
        font-size: 16px;
        background-color: $primary-color;
        border-style: none;
        border-radius: 15px;
        cursor: pointer;
        transition: 0.25s;

        &:focus {
          outline: none;
          color: black;
          margin: 11px 11px 0;
          border: none;
          background-color: $tertiary-color;
        }
        &:hover {
          color: black;
          margin: 11px 11px 0;
          border: none;
          background-color: $tertiary-color;
        }
      }

      .user {
        border-style: none;
        background-color: transparent;
        font-size: 12px;
        display: inherit;
        cursor: pointer;
        color: $seconday-color;
        margin: 0;
        padding: 8px;
        text-transform: capitalize;

        &:focus {
          outline: none;
          color: $tertiary-color;
        }
        &:hover {
          color: $tertiary-color;
        }
      }

      .user-buttons {
        margin: 11px 11px 0;
        padding: 4px;
        background-color: transparent;
        border-style: none;
        border: 2px solid $seconday-color;
        border-radius: 15px;
        transition: 0.25s;

        &:focus {
          padding: 2px;
          border: 4px double $tertiary-color;
        }
        &:hover {
          border: 6px solid $tertiary-color;
          color: $tertiary-color;
          padding: 0px;
        }

        &:active {
          background-color: $tertiary-color;
        }
      }
    }
  }
}
</style>
